services:
  db:
    image: mysql:8.0
    container_name: ck_mm_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ck_mnm
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app_network

  backend:
    build: ./backend
    container_name: ck_mm_backend
    restart: unless-stopped
    ports:
      - "8080:80"
    depends_on:
      - db
    volumes:
      - ./backend:/var/www/html
    networks:
      - app_network

  frontend:
    build: ./frontend
    container_name: ck_mm_frontend
    restart: unless-stopped
    ports:
      - "3000:80"
    depends_on:
      - backend
    volumes:
      - ./frontend:/usr/share/nginx/html
    networks:
      - app_network

volumes:
  db_data:

networks:
  app_network:
    driver: bridge
